<app-header [backButton]="true"
            titulo="Cambiar contraseña">
</app-header>

<ion-content>
  <div>
    <ion-item>
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input type="password" [(ngModel)]="chgPassword.old_password" name="old_password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="chgPassword.new_password" name="new_password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repetir contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="chgPassword.new_passwd2" name="new_passwd2"></ion-input>
    </ion-item>
    <ion-button expand="block"
                (click)="guardar()">
        Guardar
    </ion-button>
  </div>
</ion-content>
