<app-header [backButton]="false"
            titulo="Bienvenido {{ userData.name }}!">
</app-header>

<ion-content>

  <div class="ion-text-center" slot="fixed">

    <ion-card (click)="onClickDriver()">
      <ion-img
        #cardriver
        src="/assets/cardriver.png"
        style="height: 60%; width: 60%; margin-left: auto; margin-right: auto;"
        class="ion-padding">
      </ion-img>
      <ion-card-header>
        <ion-card-subtitle>¿Tienes vehículo?</ion-card-subtitle>
        <!-- <ion-card-title>Programar viaje</ion-card-title> -->
        <ion-button expand="block" >
          Ingresa tu ruta
        </ion-button>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>

    <ion-card (click)="onClickPassenger()">
      <ion-img
        #carpooling
        src="/assets/carpooling.png"
        style="height: 60%; width: 60%; margin-left: auto; margin-right: auto;"
        class="ion-padding">
      </ion-img>
      <ion-card-header>
        <ion-card-subtitle>¿Necesitas que te lleven?</ion-card-subtitle>
        <!-- <ion-card-title>Programar viaje</ion-card-title> -->
        <ion-button expand="block" >
          Busca partner acá
        </ion-button>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
